<html>
  <head>
    <meta charset="UTF-8">
    <title>Ship Boilerplate</title>
    <!-- This is the HTML Import that will be embedded by Hull -->
    <!-- <link> styles will be cloned and used -->
    <!-- Inline styles will be applied immediately. -->
    <style>
/*      body{
        background-color: #F6F8FC;
      }
      h1{
        margin: 12px auto;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 200;
        font-size: 24px;
        text-align: center;
      }*/
    </style>
  </head>
  <body>
    <!--
      Body will get cloned and inserted in every element matching the deployment options for a given platform
      For Facebook Pages and Iframe-type deployments, it will be embedded directly in the host's <body>
    -->

    <!-- Put all your markup here -->
    <h1>Ship Import</h1>
    <div id="ship"></div>

    <!-- You don't need Hull.js here, it will be made available -->
    <script src="ship.js"></script>
  </body>
</html>

